{{define "footer"}}
    <p class="footer">
      by <a href="https://github.com/s16rv" target="_blank">S16 Research Ventures</a> | <a href="https://github.com/s16rv/gnobyexample" target="_blank">source</a> | template by <a href="https://github.com/mmcgrana/gobyexample" target="_blank">gobyexample</a>
    </p>
{{end}}
