<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gno by Example</title>
    <link rel=stylesheet href="site.css">
  </head>
  <body>
    <div id="intro">
      <h2><a href="./">Gno by Example</a></h2>
      <p>
        <a href="https://github.com/gnolang/gno" target="_blank">Gnolang</a> 
        the language used to write Smart Contracts, called 
        Realms, on Gnoland. You can see it as an interpreted 
        version of Golang: developers upload their realm 
        sources on-chain and the GnoVM executes its AST 
        interpretation.
      </p>

      <p>
        <em>Gno by Example</em> is hands-on to Gno using 
        annotated example programs. Check out
        the <a href="build-gnodev-and-gnokey.html">first example</a> or
        browse the full list below.
      </p>

      <ul>
      {{range .}}
        <li><a href="{{.ID}}.html">{{.Name}}</a></li>
      {{end}}
      </ul>
{{ template "footer" }}
    </div>
  </body>
</html>
